// PMOD connectors
/*
IO_LOC  "pmod_j4_0" G11;  // PMOD J4 0
IO_PORT "pmod_j4_0" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j4_1" D11;  // PMOD J4 1
IO_PORT "pmod_j4_1" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j4_2" B11;  // PMOD J4 2
IO_PORT "pmod_j4_2" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j4_3" C11;  // PMOD J4 3
IO_PORT "pmod_j4_3" PULL_MODE=DOWN BANK_VCCIO=3.3;
*/
IO_LOC  "spi_clk" G10;  // PMOD J4 4
IO_PORT "spi_clk" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "stop" D10;  // PMOD J4 5
IO_PORT "stop" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "dout" B10;  // PMOD J4 6
IO_PORT "dout" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC  "cs" C10;  // PMOD J4 7
IO_PORT "cs" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

/*
IO_LOC  "pmod_j5_0" A11;  // PMOD J5 0
IO_PORT "pmod_j5_0" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j5_1" E11;  // PMOD J5 1
IO_PORT "pmod_j5_1" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j5_2" K11;  // PMOD J5 2
IO_PORT "pmod_j5_2" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j5_3" L5;  // PMOD J5 3
IO_PORT "pmod_j5_3" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j5_4" A10;  // PMOD J5 4
IO_PORT "pmod_j5_4" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j5_5" E10;  // PMOD J5 5
IO_PORT "pmod_j5_5" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j5_6" L11;  // PMOD J5 6
IO_PORT "pmod_j5_6" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j5_7" K5;  // PMOD J5 7
IO_PORT "pmod_j5_7" PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_LOC  "pmod_j6_0" F5;  // PMOD J6 0
IO_PORT "pmod_j6_0" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j6_1" G7;  // PMOD J6 1
IO_PORT "pmod_j6_1" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j6_2" H8;  // PMOD J6 2
IO_PORT "pmod_j6_2" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j6_3" H5;  // PMOD J6 3
IO_PORT "pmod_j6_3" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j6_4" G5;  // PMOD J6 4
IO_PORT "pmod_j6_4" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j6_5" G8;  // PMOD J6 5
IO_PORT "pmod_j6_5" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j6_6" H7;  // PMOD J6 6
IO_PORT "pmod_j6_6" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pmod_j6_7" J5;  // PMOD J6 7
IO_PORT "pmod_j6_7" PULL_MODE=DOWN BANK_VCCIO=3.3;
*/

// Push buttons
IO_LOC  "S1" H11;
IO_PORT "S1" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "S2" H10;
IO_PORT "S2" PULL_MODE=DOWN BANK_VCCIO=3.3;

// Clock
IO_LOC "sysclk" E2;
IO_PORT "sysclk" PULL_MODE=UP BANK_VCCIO=3.3;

// 40 Pin header J3
IO_LOC "pin[1]" K2;
IO_PORT "pin[1]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pin[2]" K1;
IO_PORT "pin[2]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pin[3]" L1;
IO_PORT "pin[3]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pin[4]" L2;
IO_PORT "pin[4]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pin[5]" K4;
IO_PORT "pin[5]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pin[6]" J4;
IO_PORT "pin[6]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pin[7]" G1;
IO_PORT "pin[7]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pin[8]" G2;
IO_PORT "pin[8]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pin[9]" L3;
IO_PORT "pin[9]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "pin[10]" L4;
IO_PORT "pin[10]" PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;

/*
IO_LOC  "pin[11]" ;  // +5V
IO_PORT "pin[11]" PULL_MODE=UPCIO=3.3;
IO_LOC  "pin[12]" ;  // GND
IO_PORT "pin[12]" PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC  "pin[13]" C2;  //J3_13
IO_PORT "pin[13]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[14]" B2;  //J3_14
IO_PORT "pin[14]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[15]" F1;  //J3_15
IO_PORT "pin[15]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[16]" F2;  //J3_16
IO_PORT "pin[16]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[17]" A1;  //J3_17
IO_PORT "pin[17]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[18]" E1;  //J3_18
IO_PORT "pin[18]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[19]" D1;  //J3_19
IO_PORT "pin[19]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[20]" E3;  //J3_20
IO_PORT "pin[20]" PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_LOC  "pin[21]" J2;  //J3_21
IO_PORT "pin[21]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[22]" J1;  //J3_22
IO_PORT "pin[22]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[23]" H4;  //J3_23
IO_PORT "pin[23]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[24]" G4;  //J3_24
IO_PORT "pin[24]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[25]" H2;  //J3_25
IO_PORT "pin[25]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[26]" H1;  //J3_26
IO_PORT "pin[26]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[27]" J7;  //J3_27
IO_PORT "pin[27]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[28]" K7;  //J3_28
IO_PORT "pin[28]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[29]" L8;  //J3_29
IO_PORT "pin[29]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[30]" L7;  //J3_30
IO_PORT "pin[30]" PULL_MODE=DOWN BANK_VCCIO=3.3;

IO_LOC  "pin[31]" K10;  //J3_31
IO_PORT "pin[31]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[32]" K10;  //J3_32
IO_PORT "pin[32]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[33]" K9;  //J3_33
IO_PORT "pin[33]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[34]" L9;  //J3_34
IO_PORT "pin[34]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[35]" K8;  //J3_35
IO_PORT "pin[35]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[36]" J8;  //J3_36
IO_PORT "pin[36]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[37]" F6;  //J3_37
IO_PORT "pin[37]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[38]" F7;  //J3_38
IO_PORT "pin[38]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[39]" J10;  //J3_39
IO_PORT "pin[39]" PULL_MODE=DOWN BANK_VCCIO=3.3;
IO_LOC  "pin[40]" J11;  //J3_40
IO_PORT "pin[40]" PULL_MODE=DOWN BANK_VCCIO=3.3;
*/
